{% extends 'lab/base.html' %}
{% load static %}

{% block title %}Контакты{% endblock %}

{% block content %}
<div class='row'>
    <div class='about'>
        <div>
          <h1>
            Одинцов<br>Алексей Андреевич <br>
            <span>
              Химик-Технолог
            </span>
          </h1>
        </div>
    
        <div class='contacts'>
            <a href="" class="img-box">
                <img src="{% static 'images/envelope-o.png' %}" alt="" class="img-2">
            </a>
            <a href="" class="img-box">
                <img src="{% static 'images/telelogo.png' %}" alt="" class="img-1">
            </a>
            <a href="" class="img-box">
                <img src="{% static 'images/call-o.png' %}" alt="" class="img-2">
            </a>
        </div>
    </div>
    <div>
        <div>
          <h1>
            Одинцов<br>Алексей Андреевич <br>
            <span>
              Химик-Технолог
            </span>
          </h1>
        </div>
    
        <div class='contacts'>
            <a href="" class="img-box">
                <img src="{% static 'images/envelope-o.png' %}" alt="" class="img-2">
            </a>
            <a href="" class="img-box">
                <img src="{% static 'images/telelogo.png' %}" alt="" class="img-1">
            </a>
            <a href="" class="img-box">
                <img src="{% static 'images/call-o.png' %}" alt="" class="img-2">
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block map %}
    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab2f2c172d675074c443fc182f89e4c4275957c90502f18fa053c48a18fa13280&amp;source=constructor" width=100% height="400" frameborder="0"></iframe>
{% endblock %}
